version = 1

[envs.7z]
channels = ['conda-forge']
platform = 'win-64'
dependencies = { 7zip = '*' }
exposed = { 7z = '7zz' }

[envs.akelpad]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { akelpad = '*' }
exposed = { akelpad = 'AkelPad' }

[envs.aria2]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { aria2 = '*' }
exposed = { aria2c = 'aria2c' }

[envs.caddy]
channels = ['conda-forge']
platform = 'win-64'
dependencies = { caddy = '*' }
exposed = { caddy = 'caddy' }

[envs.code]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
exposed = { code = 'codium', git = 'git' }

[envs.code.dependencies]
clang-tools = '>=22.1.0'
cmake = '>=4.2.0'
git = '*'
openssh = '*'
vscode-pyright = '*'
vscodium-conda-launcher = '*'

[envs.crates-io-proxy]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { crates-io-proxy = '*' }
exposed = { crates-io-proxy = 'crates-io-proxy' }

[envs.es]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { everything-cli = '*' }
exposed = { es = 'es' }

[envs.ffmpeg]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { ffmpeg = '*' }
exposed = { ffmpeg = 'ffmpeg', ffplay = 'ffplay' }

[envs.pdftk]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { pdftk = '*' }
exposed = { pdftk = 'pdftk' }

[envs.pixi]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { pixi = '>=0.71.0' }
exposed = { pixi = 'pixi' }

[envs.pixi70]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { pixi = '0.70.*' }
exposed = { pixi70 = 'pixi' }

[envs.scc]
channels = ['https://prefix.dev/github-releases']
platform = 'win-64'
dependencies = { scc = '*' }
exposed = { scc = 'scc' }

[envs.servo]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { servo = '*' }
exposed = { servo = 'servo' }

[envs.ssh]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { openssh = '*' }
exposed = { scp = 'scp', ssh = 'ssh' }

[envs.sudo]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { sudo = '*' }
exposed = { sudo = 'sudo' }

[envs.sumatrapdf]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { sumatrapdf = '*' }
exposed = { sumatrapdf = 'SumatraPDF' }

[envs.uv]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { rust = '*', uv = '>=0.11.0' }
exposed = { uv = 'uv' }

[envs.wezterm]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
dependencies = { wezterm = '*' }
exposed = { wezterm-gui = 'wezterm-gui' }

[envs.zed]
channels = [
{%- if environ.QUETZ_CHANNEL and environ.QUETZ_SERVER_URL %}
    '{{ environ.QUETZ_SERVER_URL | trim("/") }}/get/{{ environ.QUETZ_CHANNEL }}',
{%- endif %}
    'conda-forge',
]
platform = 'win-64'
exposed = { zed = 'zed' }

[envs.zed.dependencies]
basedpyright = '*'
clang-tools = '>=22.1.0'
git = '*'
openssh = '*'
ruff = '*'
rust = '*'
rust-src = '*'
tombi = '==0.10.6'
zed = '*'
