[core]
	autocrlf = false
[gpg "ssh"]
{%- if pixi_home is startingwith "D:\\" %}
	allowedSignersFile = D:/.config/git/allowed_signers
{%- else %}
	allowedSignersFile = {{ environ.USERPROFILE | replace("\\", "/") }}/.config/git/allowed_signers
{%- endif %}
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/lemenkov/"]
	insteadOf = https://chromium.googlesource.com/libyuv/
