$ErrorActionPreference = 'Stop'

$Env:MATURIN_NO_INSTALL_RUST = '1'
$Env:PIXI_BUILD_BACKEND_OVERRIDE_ALL = '1'
{%- if environ.QUETZ_API_KEY %}
$Env:QUETZ_API_KEY = '{{ environ.QUETZ_API_KEY }}'
{%- endif %}
{%- if environ.QUETZ_CHANNEL %}
$Env:QUETZ_CHANNEL = '{{ environ.QUETZ_CHANNEL }}'
{%- endif %}
{%- if environ.QUETZ_SERVER_URL %}
$Env:QUETZ_SERVER_URL = '{{ environ.QUETZ_SERVER_URL }}'
{%- endif %}
$Env:UV_HTTP_TIMEOUT = '60'

function c {
    Clear-History
    [Microsoft.PowerShell.PSConsoleReadLine]::ClearHistory()
    if ($PSVersionTable.PSVersion.Major -ge 6) {
        [Console]::Write("`ec")
    }
    Remove-Item -ErrorAction Ignore (Get-PSReadlineOption).HistorySavePath
}

function q {
    Remove-Item -ErrorAction Ignore (Get-PSReadlineOption).HistorySavePath
    exit
}

function t {
    begin {
        $t = (Get-Date).Date
    }
    process {
        $_.CreationTime = $_.LastAccessTime = $_.LastWriteTime = $t
    }
}
