$Env:CARGO_HOME = 'E:\var\cargo'
$Env:PIXI_HOME = 'E:\var\pixi'
$Env:Path = "$($Env:Path.TrimEnd(';') -replace '/', '\');$Env:PIXI_HOME\bin"
$Env:RATTLER_CACHE_DIR = 'E:\var\cache\rattler'
$Env:UV_CONFIG_FILE = 'E:\etc\uv.toml'
$Env:UV_PYTHON_INSTALL_DIR = 'E:\var\cache\uv\python\install'
$Env:UV_TOOL_DIR = 'E:\var\cache\uv\tool'

$Alias:7z = '{{ _7z.exe|replace("/", "\\") }}'
$Alias:akelpad = '{{ akelpad.exe|replace("/", "\\") }}'
$Alias:es = '{{ es.exe|replace("/", "\\") }}'
$Alias:ffmpeg = '{{ ffmpeg.exe|replace("/", "\\") }}'
$Alias:ffplay = '{{ ffplay.exe|replace("/", "\\") }}'
$Alias:pixi = '{{ pixi.exe|replace("/", "\\") }}'
$Alias:scc = '{{ scc.exe|replace("/", "\\") }}'
$Alias:ssh = '{{ ssh.exe|replace("/", "\\") }}'
$Alias:uv = '{{ uv.exe|replace("/", "\\") }}'
$Alias:zed = '{{ zed.exe|replace("/", "\\") }}'

function scp {
    {{ scp.exe|replace("/", "\\") }} -O @args
}

function uvx {
    {{ uv.exe|replace("/", "\\") }} tool run @args
}
