Windows Registry Editor Version 5.00


[HKEY_CURRENT_USER\Software\Akelsoft\AkelPad\Options]
"Font"=hex:eb,ff,ff,ff,00,00,00,00,00,00,00,00,00,00,00,00,90,01,00,00,00,00,\
  00,00,03,02,01,22
"FontFace"="微软雅黑"
"MouseOptions"=dword:000000e5
"PaintOptions"=dword:00000500
"RecentFiles"=dword:00000000
"SearchOptions"=dword:22a00001
"SearchStrings"=dword:00000001
"ShowURL"=dword:00000000

[HKEY_CLASSES_ROOT\.c]
@="snekdesign.text.c"
[-HKEY_CLASSES_ROOT\.c\PersistentHandler]
[HKEY_CLASSES_ROOT\.h]
@="snekdesign.text.c"
[-HKEY_CLASSES_ROOT\.h\PersistentHandler]
[HKEY_CLASSES_ROOT\.rc]
@="snekdesign.text.c"
[-HKEY_CLASSES_ROOT\.rc\PersistentHandler]
[HKEY_CLASSES_ROOT\snekdesign.text.c\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\c.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.c\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.cfg]
@="snekdesign.text.config"
[HKEY_CLASSES_ROOT\.conf]
@="snekdesign.text.config"
[HKEY_CLASSES_ROOT\.gitignore]
@="snekdesign.text.config"
[HKEY_CLASSES_ROOT\.gitmodules]
@="snekdesign.text.config"
[HKEY_CLASSES_ROOT\.ini]
@="snekdesign.text.config"
[-HKEY_CLASSES_ROOT\.ini\PersistentHandler]
[HKEY_CLASSES_ROOT\.toml]
@="snekdesign.text.config"
[HKEY_CLASSES_ROOT\.wslconfig]
@="snekdesign.text.config"
[HKEY_CLASSES_ROOT\snekdesign.text.config\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\config.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.config\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.cc]
@="snekdesign.text.cpp"
[-HKEY_CLASSES_ROOT\.cc\PersistentHandler]
[HKEY_CLASSES_ROOT\.cpp]
@="snekdesign.text.cpp"
[-HKEY_CLASSES_ROOT\.cpp\PersistentHandler]
[HKEY_CLASSES_ROOT\.cxx]
@="snekdesign.text.cpp"
[-HKEY_CLASSES_ROOT\.cxx\PersistentHandler]
[HKEY_CLASSES_ROOT\.hpp]
@="snekdesign.text.cpp"
[-HKEY_CLASSES_ROOT\.hpp\PersistentHandler]
[HKEY_CLASSES_ROOT\.hxx]
@="snekdesign.text.cpp"
[-HKEY_CLASSES_ROOT\.hxx\PersistentHandler]
[HKEY_CLASSES_ROOT\snekdesign.text.cpp\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\cpp.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.cpp\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.cs]
@="snekdesign.text.csharp"
[-HKEY_CLASSES_ROOT\.cs\PersistentHandler]
[HKEY_CLASSES_ROOT\snekdesign.text.csharp\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\csharp.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.csharp\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.htm]
@="snekdesign.text.html"
[-HKEY_CLASSES_ROOT\.htm\OpenWithProgids]
[-HKEY_CLASSES_ROOT\.htm\PersistentHandler]
[HKEY_CLASSES_ROOT\.html]
@="snekdesign.text.html"
[-HKEY_CLASSES_ROOT\.html\OpenWithProgids]
[-HKEY_CLASSES_ROOT\.html\PersistentHandler]
[HKEY_CLASSES_ROOT\snekdesign.text.html\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\html.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.html\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.pac]
@="snekdesign.text.javascript"
[HKEY_CLASSES_ROOT\snekdesign.text.javascript\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\javascript.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.javascript\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.code-workspace]
@="snekdesign.text.json"
[HKEY_CLASSES_ROOT\.json]
@="snekdesign.text.json"
[HKEY_CLASSES_ROOT\snekdesign.text.json\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\json.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.json\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.md]
@="snekdesign.text.markdown"
[HKEY_CLASSES_ROOT\snekdesign.text.markdown\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\markdown.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.markdown\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.ps1]
@="snekdesign.text.powershell"
[HKEY_CLASSES_ROOT\snekdesign.text.powershell\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\powershell.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.powershell\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.cmake]
@="snekdesign.text.plain"
[HKEY_CLASSES_ROOT\.log]
@="snekdesign.text.plain"
[HKEY_CLASSES_ROOT\.patch]
@="snekdesign.text.plain"
[HKEY_CLASSES_ROOT\.txt]
@="snekdesign.text.plain"
[-HKEY_CLASSES_ROOT\.txt\PersistentHandler]
[HKEY_CLASSES_ROOT\snekdesign.text.plain\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\default.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.plain\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.pxd]
@="snekdesign.text.python"
[HKEY_CLASSES_ROOT\.pxi]
@="snekdesign.text.python"
[HKEY_CLASSES_ROOT\.py]
@="snekdesign.text.python"
[HKEY_CLASSES_ROOT\.pyi]
@="snekdesign.text.python"
[HKEY_CLASSES_ROOT\.pyx]
@="snekdesign.text.python"
[HKEY_CLASSES_ROOT\snekdesign.text.python\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\python.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.python\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.sh]
@="snekdesign.text.shell"
[HKEY_CLASSES_ROOT\snekdesign.text.shell\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\shell.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.shell\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.sql]
@="snekdesign.text.sql"
[-HKEY_CLASSES_ROOT\.sql\PersistentHandler]
[HKEY_CLASSES_ROOT\snekdesign.text.sql\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\sql.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.sql\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.ts]
@="snekdesign.text.typescript"
[-HKEY_CLASSES_ROOT\.ts\OpenWithProgids]
[HKEY_CLASSES_ROOT\snekdesign.text.typescript\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\typescript.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.typescript\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.vcxproj]
@="snekdesign.text.xml"
[HKEY_CLASSES_ROOT\.xml]
@="snekdesign.text.xml"
[-HKEY_CLASSES_ROOT\.xml\OpenWithProgids]
[-HKEY_CLASSES_ROOT\.xml\PersistentHandler]
[HKEY_CLASSES_ROOT\snekdesign.text.xml\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\xml.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.xml\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.clangd]
@="snekdesign.text.yaml"
[HKEY_CLASSES_ROOT\.yaml]
@="snekdesign.text.yaml"
[HKEY_CLASSES_ROOT\.yml]
@="snekdesign.text.yaml"
[HKEY_CLASSES_ROOT\snekdesign.text.yaml\DefaultIcon]
@="{{ vscodium_escaped }}\\resources\\app\\resources\\win32\\yaml.ico"
[HKEY_CLASSES_ROOT\snekdesign.text.yaml\shell\open\command]
@="{{ akelpad.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""


[HKEY_CLASSES_ROOT\.chm]
@="snekdesign.pdf"
[HKEY_CLASSES_ROOT\.pdf]
@="snekdesign.pdf"
[-HKEY_CLASSES_ROOT\.pdf\OpenWithProgids]
[-HKEY_CLASSES_ROOT\.pdf\PersistentHandler]
[HKEY_CLASSES_ROOT\snekdesign.pdf\DefaultIcon]
@="{{ sumatrapdf.exe | replace("/", "\\") | replace("\\", "\\\\") }},1"
[HKEY_CLASSES_ROOT\snekdesign.pdf\shell\open\command]
@="{{ sumatrapdf.exe | replace("/", "\\") | replace("\\", "\\\\") }} \"%1\""

[HKEY_CLASSES_ROOT\.pem]
@="CERFile"

[HKEY_CLASSES_ROOT\.vob]
@="snekdesign.media"
[HKEY_CLASSES_ROOT\snekdesign.media\DefaultIcon]
@="shell32.dll,-16825"
[HKEY_CLASSES_ROOT\snekdesign.media\shell\open\command]
@="{{ ffplay.exe | replace("/", "\\") | replace("\\", "\\\\") }} -loop 0 \"%1\""


[HKEY_CURRENT_USER\Console]
"FaceName"="yaco618"
"CursorType"=dword:00000001

[HKEY_CURRENT_USER\Console\%%Startup]
"DelegationConsole"="{2EACA947-7F5F-4CFA-BA87-8F7FBEEFBE69}"
"DelegationTerminal"="{E12CFF52-A866-4C77-9A90-F570A7AA2C6B}"

[-HKEY_CURRENT_USER\Console\%SystemRoot%_System32_WindowsPowerShell_v1.0_powershell.exe]
[-HKEY_CURRENT_USER\Console\%SystemRoot%_SysWOW64_WindowsPowerShell_v1.0_powershell.exe]

[HKEY_CURRENT_USER\Control Panel\Keyboard]
"PrintScreenKeyForSnippingEnabled"=dword:00000001

[HKEY_CURRENT_USER\Control Panel\Mouse]
"MouseSpeed"="0"
"MouseThreshold1"="0"
"MouseThreshold2"="0"

[HKEY_CURRENT_USER\Control Panel\UnsupportedHardwareNotificationCache]
"SV1"=dword:00000000
"SV2"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\InputMethod\CandidateWindow\CHS\1]
"EnableFixedCandidateCountMode"=dword:00000001
"MaxCandidates"=dword:00000009

[HKEY_CURRENT_USER\Software\Microsoft\InputMethod\Settings\CHS]
"Default Mode"=dword:00000001
"EnableFullHalfWidthSwitchKey"=dword:00000001
"EnableSimplifiedTraditionalOutputSwitch"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\InputPersonalization]
"RestrictImplicitInkCollection"=dword:00000001
"RestrictImplicitTextCollection"=dword:00000001

[HKEY_CURRENT_USER\Software\Microsoft\InputPersonalization\TrainedDataStore]
"HarvestContacts"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Personalization\Settings]
"AcceptedPrivacyPolicy"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell]
"ExecutionPolicy"="RemoteSigned"

[HKEY_CURRENT_USER\Software\Microsoft\Siuf\Rules]
"NumberOfSIUFInPeriod"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\bluetoothSync]
"Value"="Deny"

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ContentDeliveryManager]
"SubscribedContent-310093Enabled"=dword:00000000
"SubscribedContent-338388Enabled"=dword:00000000
"SubscribedContent-338389Enabled"=dword:00000000
"SubscribedContent-338393Enabled"=dword:00000000
"SubscribedContent-353694Enabled"=dword:00000000
"SubscribedContent-353696Enabled"=dword:00000000
"SubscribedContent-353698Enabled"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer]
"EdgeDesktopShortcutCreated"=dword:00000001
"EnableAutoTray"=dword:00000000
"ShellState"=hex:24,00,00,00,1e,28,00,00,00,00,00,00,00,00,00,00,00,00,00,00,\
  01,00,00,00,13,00,00,00,00,00,00,00,22,00,00,00
"ShowRecent"=dword:00000000
"ShowFrequent"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced]
"AutoCheckSelect"=dword:00000000
"HideFileExt"=dword:00000000
"HideIcons"=dword:00000001
"LastActiveClick"=dword:00000001
"LaunchTo"=dword:00000001
"ShowCopilotButton"=dword:00000000
"ShowCortanaButton"=dword:00000000
"ShowStatusBar"=dword:00000000
"ShowTaskViewButton"=dword:00000000
"Start_IrisRecommendations"=dword:00000000
"Start_Layout"=dword:00000001
"Start_TrackDocs"=dword:00000000
"Start_TrackProgs"=dword:00000000
"TaskbarAppsVisibleInTabletMode"=dword:00000001
"TaskbarAutoHideInTabletMode"=dword:00000000
"TaskbarMn"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\AutoplayHandlers]
"DisableAutoplay"=dword:00000001

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\ImmersiveShell]
"TabletMode"=dword:00000000
"SignInMode"=dword:00000001
"ConvertibleSlateModePromptPreference"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Notifications\Settings]
"NOC_GLOBAL_SETTING_ALLOW_TOASTS_ABOVE_LOCK"=dword:00000000
"NOC_GLOBAL_SETTING_ALLOW_CRITICAL_TOASTS_ABOVE_LOCK"=dword:00000000
"NOC_GLOBAL_SETTING_ALLOW_NOTIFICATION_SOUND"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Notifications\Settings\Windows.Defender.SecurityCenter]
"Enabled"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Notifications\Settings\Windows.SystemToast.AutoPlay]
"Enabled"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\PenWorkspace]
"PenWorkspaceButtonDesiredVisibility"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\NonEnum]
"{088e3905-0323-4b02-9826-5d99428e115f}"=dword:00000001
"{0DB7E03F-FC29-4DC6-9020-FF41B59E513A}"=dword:00000001
"{24ad3ad4-a569-4530-98e1-ab02f9417aa8}"=dword:00000001
"{3dfdf296-dbec-4fb4-81d1-6a3438bcf4de}"=dword:00000001
"{B4BFCC3A-DB2C-424C-B029-7FE99A87C641}"=dword:00000001
"{d3162b92-9365-467a-956b-92703aca08af}"=dword:00000001
"{F02C1A0D-BE21-4350-88B0-7367FC96EF3C}"=dword:00000001
"{F5FB2C77-0E2F-4A16-A381-3E560C68BC83}"=dword:00000001
"{f86fa3ab-70d2-4fc7-9c99-fcbf05467f3a}"=dword:00000001

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\PushNotifications]
"ToastEnabled"=dword:00000000
"LockScreenToastEnabled"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\SettingSync\Groups\Language]
"Enabled"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\StorageSense\Parameters\StoragePolicy]
"01"=dword:00000000
"StoragePoliciesChanged"=dword:00000001
"StoragePoliciesNotified"=dword:00000001

[HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\UserProfileEngagement]
"ScoobeSystemSettingEnabled"=dword:00000000

[HKEY_CURRENT_USER\Software\Microsoft\Windows NT\CurrentVersion\Windows]
"LegacyDefaultPrinterMode"=dword:00000001

[HKEY_CURRENT_USER\Software\Microsoft\Windows Security Health\State]
"AccountProtection_MicrosoftAccount_Disconnected"=dword:00000000

[HKEY_LOCAL_MACHINE\Software\Microsoft\ServerManager]
"DoNotOpenServerManagerAtLogon"=dword:00000001

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\appDiagnostics]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\appointments]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\broadFileSystemAccess]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\chat]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\contacts]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\documentsLibrary]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\email]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\microphone]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\phoneCall]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\phoneCallHistory]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\picturesLibrary]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\radios]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\userAccountInformation]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\userDataTasks]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\userNotificationListener]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\videosLibrary]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\webcam]
"Value"="Deny"

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Explorer\FlyoutMenuSettings]
"ShowHibernateOption"=dword:00000001

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\OOBE]
"BypassNRO"=dword:00000001

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Policies\Attachments]
"SaveZoneInformation"=dword:00000001

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer]
"ConfirmFileDelete"=dword:00000001

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Setup\OOBE]
"SetupDisplayedEula"=dword:00000001

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Sudo]
"Enabled"=dword:00000003

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows Defender]
"PUAProtection"=dword:00000001

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows Defender\Features]
"ChangedDefaults"=hex:00,00,00,00,00,00,00,00

[HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Fonts]
"微软雅黑 Heavy & Microsoft YaHei UI Heavy (TrueType)"="msyhhv.ttc"
"微软雅黑 Semibold & Microsoft YaHei UI Semibold (TrueType)"="msyhsb.ttc"
"微软雅黑 Semilight & Microsoft YaHei UI Semilight (TrueType)"="msyhsl.ttc"
"yaco618 (TrueType)"="yaco618.ttf"

[HKEY_LOCAL_MACHINE\Software\Policies\Microsoft\Windows\AppPrivacy]
"LetAppsRunInBackground"=dword:00000002

[HKEY_LOCAL_MACHINE\Software\Policies\Microsoft\Windows NT\Reliability]
"ShutdownReasonOn"=dword:00000000

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem]
"LongPathsEnabled"=dword:00000001

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Power]
"HibernateEnabled"=dword:00000001

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\PriorityControl]
"Win32PrioritySeparation"=dword:00000026

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Policies\Microsoft\FeatureManagement\Overrides]
"156965516"=dword:00000001
"735209102"=dword:00000001
"1176759950"=dword:00000001
"1853569164"=dword:00000001

[HKEY_LOCAL_MACHINE\SYSTEM\Maps]
"AutoUpdateEnabled"=dword:00000000
